<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

    <servlet>
        <servlet-name>LS</servlet-name>
        <servlet-class>com.hpe.cafs.server.servlet.LsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LS</servlet-name>
        <url-pattern>/ls</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiBrowse</servlet-name>
        <servlet-class>com.hpe.cafs.server.servlet.api.BrowseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiBrowse</servlet-name>
        <url-pattern>/api/v1/browse/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiFolder</servlet-name>
        <servlet-class>com.hpe.cafs.server.servlet.api.FolderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiFolder</servlet-name>
        <url-pattern>/api/v1/folder/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadFile</servlet-name>
        <servlet-class>com.hpe.cafs.server.servlet.api.ReadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadFile</servlet-name>
        <url-pattern>/api/v1/read/*</url-pattern>
    </servlet-mapping>

</web-app>